<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <system.webServer>
    <handlers>
      <remove name="aspNetCore" />
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="InProcess" />
  </system.webServer>
  <appSettings>
    <!-- URL Catalogos -->
    <add key="urlAnalizador" value="http://mlgmty00tstis11/LndMxCertBulkCATALOGOS/api/Analizador" />
    <add key="urlGrado" value="http://mlgmty00tstis11/LndMxCertBulkCATALOGOS/api/Grado" />
    <add key="urlMetodo" value="http://mlgmty00tstis11/LndMxCertBulkCATALOGOS/api/Metodo" />
    <add key="urlPais" value="http://mlgmty00tstis11/LndMxCertBulkCATALOGOS/api/Paises" />
    <add key="urlParametro" value="http://mlgmty00tstis11/LndMxCertBulkCATALOGOS/api/Parametro" />
    <add key="urlPlanta" value="http://mlgmty00tstis11/LndMxCertBulkCATALOGOS/api/Planta" />
    <add key="urlProducto" value="http://mlgmty00tstis11/LndMxCertBulkCATALOGOS/api/Producto" />
    <add key="urlRol" value="http://mlgmty00tstis11/LndMxCertBulkCATALOGOS/api/Rol" />
    <add key="urlStatusPipa" value="http://mlgmty00tstis11/LndMxCertBulkCATALOGOS/api/StatusPipa" />
    <add key="urlTanque" value="http://mlgmty00tstis11/LndMxCertBulkCATALOGOS/api/Tanque" />
    <add key="urlTipoSuministro" value="http://mlgmty00tstis11/LndMxCertBulkCATALOGOS/api/TipoSuministro" />
    <add key="urlTipoTransporte" value="http://mlgmty00tstis11/LndMxCertBulkCATALOGOS/api/TipoTransporte" />
    <add key="urlTransporte" value="http://mlgmty00tstis11/LndMxCertBulkCATALOGOS/api/Transporte" />
    <add key="urlUnidadMedida" value="http://mlgmty00tstis11/LndMxCertBulkCATALOGOS/api/UnidadMedida" />
    <add key="urlRolAlias" value="http://mlgmty00tstis11/LndMxCertBulkCATALOGOS/api/RolAlias" />
    <add key="urlProductoGrados" value="http://mlgmty00tstis11/LndMxCertBulkCATALOGOS/api/ProductoGrado" />
    <add key="urlProductoParametros" value="http://mlgmty00tstis11/LndMxCertBulkCATALOGOS/api/ProductoParametro" />
    <add key="urlAnalizadorParam" value="http://mlgmty00tstis11/LndMxCertBulkCATALOGOS/api/AnalizadorParam" />
    <add key="urlTipoEspecificacion" value="http://mlgmty00tstis11/LndMxCertBulkCATALOGOS/api/TipoEspecificacion" />
    <add key="urlEspecificacionMaster" value="http://mlgmty00tstis11/LndMxCertBulkCATALOGOS/api/EspecificacionMaster" />
    <add key="urlEspecificacionDetalle" value="http://mlgmty00tstis11/LndMxCertBulkCATALOGOS/api/EspecificacionDetalle" />
    <add key="urlPlantaProducto" value="http://mlgmty00tstis11/LndMxCertBulkCATALOGOS/api/PlantaProducto" />
    <!-- URL Login -->
    <add key="urlLogin" value="https://test.dev.linde.com.mx/LndMxCertBulkSECURITY/api/Seguridad/authentication" />
    <!-- URL Administracion -->
    <add key="urlCliente" value="http://mlgmty00tstis11/LndMxCertBulkCATALOGOS/api/Cliente" />
    <add key="urlUsuario" value="http://mlgmty00tstis11/LndMxCertBulkCATALOGOS/api/Usuario" />
    <add key="urlUsuarioSirh" value="http://mlgmty00tstis11/LndMxCertBulkSIRH/api/SIRH/BuscarUsuario" />
    <add key="urlUsuarioPlantas" value="http://mlgmty00tstis11/LndMxCertBulkCATALOGOS/api/UsuarioPlanta" />
    <add key="urlMenu" value="http://mlgmty00tstis11/LndMxCertBulkCATALOGOS/api/Menu" />
    <add key="urlMenuRol" value="http://mlgmty00tstis11/LndMxCertBulkCATALOGOS/api/MenuRol" />
  </appSettings>
</configuration>
