@model LiberacionProductoWeb.Models.ConfigViewModels.ConfiguracionUsuarioVM;
@using Microsoft.Extensions.Localization;
@using LiberacionProductoWeb.Localize;
@using LiberacionProductoWeb.Helpers;
@using System.Globalization;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject IStringLocalizer<Resource> resource;

@{
	ViewData["Title"] = "Catalogos";
	Layout = "~/Views/Shared/_LayoutCatalogs.cshtml";
}

<!-- Navigation -->
<div id="top-menu" class="top-menu">
	<!-- begin sidebar scrollbar -->
	<div class="container-fluid">
		<!-- begin sidebar nav -->
		<ul class="nav">
			@if (User.Identity.IsAuthenticated)
			{
				<li>
					<a asp-controller="LotificacionTanques" asp-action="Lotificacion">
						@* <i class="fa fa-file-alt"></i> *@
						<span>Lotificación de Tanques</span>
					</a>
				</li>
				<li>
					<a asp-controller="LotificacionTanques" asp-action="ListadoLotes">
						@* <i class="fa fa-file-alt"></i> *@
						<span>Listado de Lotes</span>
					</a>
				</li>
			}
		</ul>
		<!-- end sidebar nav -->
	</div>
	<!-- end sidebar scrollbar -->
</div>

<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div id="content" class="content">

	<!-- begin breadcrumb -->
	<ol class="breadcrumb pull-right">
		<li class="breadcrumb-item"><a href="@Url.Action("Access", "Access")">Inicio</a></li>
		<li class="breadcrumb-item"><a href="@Url.Action("Catalogs", "CertCatalogos")">Certificados Catálogos</a></li>
		<li class="breadcrumb-item active">Catálogos</li>
	</ol>
	<!-- end breadcrumb -->
	<!-- begin page-header -->
	<h1 class="page-header">Catálogos</h1>
	<!-- end page-header -->

</div>

@section Styles {


	<link href="~/plugins/bootstrap-combobox/css/bootstrap-combobox.css" rel="stylesheet" />
	<link href="~/plugins/bootstrap-select/bootstrap-select.css" rel="stylesheet" />
	<link href="~/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
	<link href="~/plugins/bootstrap-calendar/css/bootstrap_calendar.css" rel="stylesheet" />


	<link href="~/plugins/DataTables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" />
	<link href="~/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css" rel="stylesheet" />
	<link href="~/plugins/DataTables/extensions/Buttons/css/buttons.bootstrap.min.css" rel="stylesheet" />

	<link href="~/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" />

	<link href="~/plugins/jquery/jquery.dataTables.min.css" rel="stylesheet" />
}

@section scripts {

	<environment names="Development,Staging,Production">
		<script src="~/plugins/bootstrap-calendar/js/bootstrap_calendar.min.js"></script>

		<script src="~/plugins/gritter/js/jquery.gritter.js"></script>

		<script src="~/plugins/bootstrap-combobox/js/bootstrap-combobox.js"></script>
		<script src="~/plugins/bootstrap-select/bootstrap-select.js"></script>
		<script src="~/plugins/select2/dist/js/select2.min.js"></script>


		<script src="~/plugins/bootstrap-calendar/js/bootstrap_calendar.min.js"></script>

		<script src="~/plugins/DataTables/media/js/dataTables.bootstrap.min.js"></script>

		<script src="~/plugins/DataTables/media/js/jquery.dataTables.js"></script>
		<script src="~/plugins/DataTables/media/js/dataTables.bootstrap.min.js"></script>
		<script src="~/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js"></script>

		<script src="~/plugins/DataTables/extensions/Buttons/js/buttons.html5.min.js"></script>
		<script src="~/plugins/DataTables/extensions/Buttons/js/buttons.print.min.js"></script>
		<script src="~/plugins/DataTables/extensions/Buttons/js/dataTables.buttons.min.js"></script>

		<script src="~/plugins/gritter/js/jquery.gritter.js"></script>
		<script src="~/plugins/bootbox/js/bootbox.all.min.js"></script>

		<script src="~/js/demo.min.js"></script>
		<script src="~/js/apps.min.js"></script>
		<script src="~/js/catalogs.js"></script>
	</environment>

	<script>
		$(document).ready(function () {

			App.init();
			Demo.init();
		});
	</script>
}
